{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Find Your Howl Mate</h1>
    <br>
    <div class="container-fluid justified width-var">
        <p>There are hundreds of dog breeds in the world, and even within a breed there will be many different individual personalities. Choosing the right dog is not an easy task and should not be taken lightly.
            You will be responsible for another animal's well-being for several years. As when choosing a partner, you want to find a dog that fits well with your personality and your lifestyle.
            To help you do just that, you can take the following survey to see what type of dog is best suited for you, as well as some breed suggestions that generally fit that description. However,
            remember that there will be intra-breed individual differences as we cannot possibly expect an entire breed to have the same exact personality.
        </p>

        <p>Additionally, after making your decision, please do your best to find the right dog through shelters and rescue organizations (you'd be surprised at the kinds of breeds you could find). If
            that is not a viable option, then make sure to find a reputable breeder.
        </p>
    </div>
    <a href="/survey"><button type="button" class="btn btn-success">Start Survey</button></a>


{% endblock %}