{% extends "layout.html" %}

{% block title %}
    No Dog For you
{% endblock %}

{% block main %}
<p class="container-fluid justified width-var">When bringing a dog into your home you are taking on a lot of responsibility. If you do not have the time to provide a dog with a minimum amount of walking,
    especially if being left home alone for extended period, then you should not have a dog. If you do not have the necessary patience to calmly repeat yourself hundreds of times before they "get it",
    then you should not have a dog. If you do not have any time to spare for training, then you should not have a dog.It would not be fair to them and would only lead to frustration and anxiety for
    everyone involved.
</p>
{% endblock %}